* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

div#app {
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
  font-size: 3em;
  font-weight: bolder;
}

h3 {
  margin: 10px;
  align-items: flex-start;
}

div#main-and-input-container {
  background-color: lightsteelblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  align-items: center;
}

div#user-message-group-container {
  background-color: yellow;
  width: 95%;
  height: 750px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#user-container {
  background-color: blue;
  width: 25%;
  height: 95%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#user-info-container {
  background-color: red;
  width: 95%;
  height: 35%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#online-users-container {
  background-color: red;
  width: 95%;
  height: 60%;
  display: flex;
  flex-flow: column; 

  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#messages-container {
  background-color: blue;
  width: 50%;
  height: 95%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#sent-messages-container {
  background-color: green;
  width: 47.5%;
  height: 95%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#received-messages-container {
  background-color: green;
  width: 47.5%;
  height: 95%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#group-container {
  background-color: blue;
  width: 25%;
  height: 95%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#group-select-container {
  background-color: hotpink;
  width: 95%;
  height: 47.5%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#group-select-container input {
  width: 180px;
  height: 30px;
}

div#group-info-container {
  background-color: hotpink;
  width: 95%;
  height: 47.5%;
  display: flex;
  flex-flow: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#input-line-container {
  background-color: purple;
  width: 80%;
  height: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

div#input-line-container input {
  width: 600px;
  height: 30px;
  margin: 5px;
  font-size:1em;
}

button {
  height: 30px;
  width: 100px;
}
